@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: url("font-kit=k3kKo8YQJOpFgHQ1mQ5VkEbUKaJFsh_50q0&skey=260e836d3140a70d&v=v28"/*tpa=http://fonts.gstatic.com/l/font?kit=k3kKo8YQJOpFgHQ1mQ5VkEbUKaJFsh_50q0&skey=260e836d3140a70d&v=v28*/);
}
